{% extends "base.html.twig" %}
{% block stylesheets %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-18 col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-4" style="padding-top: 20px;">
          <input id="file" type="file" name="file"/>
          <button id="upload">Upload</button>
        </div>
        <div class="col-md-8" style="display: none;">
          <h1>Errors:</h1>
          <div id="upload_csv_error"></div>
          <hr>
          <h1>Invoices:</h1>
          <div id="upload_csv_result"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $('#upload').on('click', function () {
      var file_data = $('#file').prop('files')[0];
      var form_data = new FormData();
      form_data.append('file', file_data);

      $.ajax({
        url: '/api/v1/csv/new',
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        data: form_data,
        type: 'post',
        success: function (response) {
          let aTotal = 0;
          let pTotal = 0;

          let result = '<table class="table">';
          result += '<tr>' +
                    '<td>Invoice ID</td>' +
                    '<td>Amount</td>' +
                    '<td>Selling Price</td>' +
                    '<td>Due Date</td>' +
                    '</tr>';

          $.each(response.invoices, function (index, value) {
            aTotal += value.amount;
            pTotal += value.selling_price;
            result += '<tr>' +
                      '<td>' + value.invoice_id + '</td>' +
                      '<td>' + value.amount + '</td>' +
                      '<td>' + value.selling_price + '</td>' +
                      '<td>' + value.due_date + '</td>' +
                      '</tr>';
          });
          result += '<tr>' +
                    '<td>Total</td>' +
                    '<td>' + aTotal + '</td>' +
                    '<td>' + pTotal + '</td>' +
                    '<td></td>' +
                    '</tr>';
          result += '</table>'
          $('#upload_csv_result').html(result);

          let errors = '<table>';
          $.each(response.errors, function (index, value) {
            errors += '<tr>' +
                      '<td>' + value + '</td>' +
                      '</tr>';
          });
          errors += '</table>';
          $('#upload_csv_error').html(errors);

          $( ".col-md-8").show();
        }
      });
    });
  </script>
{% endblock %}
